 /*
    verde claro: rgb(174, 201, 160)
    verde intermedio: rgb(89, 124, 82)
    verde oscuro: rgb(50, 89, 88)
    gris: rgb(168, 184, 184)
    blanco: rgb(255, 255, 255)
    */

    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Merriweather;
    }

    html {
        background-color: rgb(89, 124, 82);
    }

    nav {
        background-color: rgb(89, 124, 82);
        height: 20dvh;
        position: fixed;
        left: 0;
        right: 0;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .navdiv {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    nav div a {
        color: white;
        padding: 1rem;
        border-radius: 2rem;
        transition: 0.4s;
        text-decoration: none;
        font-size: larger;
        font-weight: 500;

    }

    nav div a:hover {
        background-color: rgb(50, 89, 88);
    }


    section {
        padding-top: 20dvh;
        height: 100dvh;
        background-color: whitesmoke;

    }



    .imgcontainer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(168, 184, 184);
        height: 80dvh;
    }


    img {
        object-fit: contain;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }



     .cronograma {
        display: flex;
        flex-direction: column;
        height: 80dvh;
        justify-content: space-between;
        padding-bottom: 5%;
    }

/* PENDIENTE */

    .regresar {
        position: fixed;
        background-color: rgb(89, 124, 82);
        border: none;


    }

    .regresar a{
        font-size: large;
        color: white;
    }


    .regresar a:hover{
        background-color: rgb(50, 89, 88);
    }

    h1 {
        padding-top: 5%;
        color: rgb(50, 89, 88);
        padding-left: 5%;
    }

    p, li {
        color: rgb(50, 89, 88);
        padding-left: 5%;
        padding-right: 5%;
        list-style-type: none;
    }

    h3 {
        color: rgb(50, 89, 88);
    }

    .ceremonia-container {
        background-color: rgb(168, 184, 184);
        height: 80dvh;
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .box-img {
        height: 40dvh;
        object-fit: contain;
    }

    .box-texto {
        padding: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .ceremonia-img {
        height: 100%;
    }

    .regalos-container {
        background-color: whitesmoke;
        height: 80dvh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }

    .regalos-texto {
        display: flex;
        justify-content: center;
        height: 26.6dvh;
     
        align-items: center;
    }

    
    .confirmacion-container {
        background-color: rgb(168, 184, 184);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80dvh;
     
    }

    iframe {
        width: 90%;
        height: 100%;
        border: none;
    }




